.main-container {
  height: 600px;
  width: 1200px;

  position: absolute;
  margin: 100px;



}
.left-container {
  height: 600px;
  width: 600px;

  position: absolute;

}


.right-container {
  height: 600px;
  width: 600px;

  position: absolute;

  margin-left:  600px;

  }


.under-construction {
  color: white;
  position: absolute; margin-top: 100px;
  margin-left: 50px;
  font-size: 2rem;
  font-family: Montserrat ;
}

.text-body {
  color: white;
  position: absolute; margin-top: 200px;
  margin-left: 50px;
  margin-right: 50px;

  font-family: Montserrat ;
}
